* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: normal;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    /* Garante que o header fique no topo */
    z-index: 10;
    /* Mantém o header acima dos outros elementos */
    height: 70px;
    /* Define a altura do header */
}

.logo img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    text-transform: capitalize;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #444343;
    padding: 20px 40px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* nav li a:hover {
    background-color: #bdbabd;
    color: rgb(89, 124, 213);
} */

nav li a:hover {
    background-color: #a4a4a4;
    color: #007bff
}

.image-home {
    /* Mesma altura do header - compensa*/
    margin-top: 72px;
    width: 100%;
    padding: 0px 80px;
}

.image-home img {
    width: 100%;
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
}









/* Estilos do container principal (envolve todas as sections) */
.main-container {
    min-height: 100%;
    /* Garante que o conteúdo ocupe pelo menos toda a altura da tela */
    padding: 20px 80px 0px 80px;
    /* Espaço para garantir que o footer não sobreponha o conteúdo */
    box-sizing: border-box;
    /* Inclui o padding no cálculo da largura e altura */
}


.sessao {
    line-height: 1.6;
    background-color: #333;
    color: rgb(249, 247, 247);
    padding: 20px;
    margin-bottom: 30px;
    border-width: 1px;
    border-radius: 10px;
    /* border-color: #cecdcd; */
    border-style: groove;
    text-align: justify;
}

h1 {
    margin: 10px 0px 10px 0px;
    color: #0044ff;
    font-weight: bold;
}

h3 {
    /* color: rgb(255, 166, 0); */
    color: rgb(255, 200, 0);
    font-weight: normal;
}

.list {
    list-style: inside;
    margin-left: 10px;
}

#section-sobre p {
    margin-left: 10px;
}


.rodape {
    background-color: #333;
    padding: 20px 60px;
    text-align: justify;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.contato {
    color: rgb(249, 247, 247);
    padding: 20px;
}

.contato p {
    padding-left: 2px;
    line-height: 1.7;
}

/* Estilos para o footer */
footer {
    text-align: center;
    /* Alinha o texto ao centro */
    padding: 15px;
    /* Espaçamento interno no footer */
    background-color: #333;
    /* Cor de fundo do footer */
    color: #595757;
    /* Cor do texto do footer */
    position: relative;
    /* Não fixo, estará no fim da página */
    width: 100%;
    /* Garante que o footer ocupe toda a largura */
    bottom: 0;
    /* Alinha o footer ao fundo */


}

/* Estilo para o texto dentro do footer */
footer p {
    margin: 0;
    /* Remove as margens do parágrafo */
}